* {
    margin: 0;
    padding: 900px;
    box-sizing: border-box;
}
.cabecalho {
    background-image: url("/clipboard-landing-page-master/images/bg-header-mobile.png");
    background-repeat: repeat-x;
    background-position: right;


} 
.cabecalho-imgbg {

} 
.cabecalho-logo {

} 
.cabecalho-titulo {

} 
.cabecalho-paragrafo {

} 
.cabecalho-button {

} 
.conteudo {

} 
.conteudo-secao1 {

} 
.conteudo-secao1-titulo {

} 
.conteudo-secao1-paragrafo {

} 
.conteudo-secao2 {

} 
.conteudo-secao2-img {

} 
.conteudo-secao2-titulo {

} 

.conteudo-secao2-paragrafo {

}

.conteudo-secao3 {
    
}
.conteudo-secao3-titulo {
    
}
.conteudo-secao3-paragrafo {
    
}
.conteudo-secao3-img {
    
}
.conteudo-secao4 {
    
}
.conteudo-secao4-titulo {
    
}
.conteudo-secao4-paragrafo {
    
}
.conteudo-secao5 {
    
}
.conteudo-secao5-img1 {
    
}
.conteudo-secao5-titulo1 {
    
}
.conteudo-secao5-span1 {
    
}
.conteudo-secao5-img2 {
    
}
.conteudo-secao5-titulo2 {
    
}
.conteudo-secao5-span2 {
    
}
.conteudo-secao5-img3 {
    
}
.conteudo-secao5-titulo3 {
    
}
.conteudo-secao5-span3 {
    
}
.conteudo-secao6 {
    
}
.conteudo-secao6-img1 {
    
}
.conteudo-secao6-img2 {
    
}
.conteudo-secao6-img3 {
    
}
.conteudo-secao6-img4 {
    
}
.conteudo-secao6-img5 {
    
}
.conteudo-secao7 {
    
}
.conteudo-secao7-titulo {
    
}
.conteudo-secao7-paragrafo {
    
}
.section7-button {
    
}
.rodape {
    
}
.rodape-nav {
    
}
.rodape-img-logo {
    
}
.rodape-span {
    
}
.rodape-img-face {
    
}
.rodape-img-twitter {
    
}
.rodape-img-insta {

}








































.attribution { 
    font-size: 11px; text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}